#image-details {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 60%;
  margin-top: 2%;
  margin-left: 1%;
}

#main {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-left: 40px;
  gap: 10px;
}

#image {
  flex: 1;
  /* border: 1px solid #ccc; */
  border-radius: 1%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  /* padding: 10px; */
  width: 60%;
  height: 45%;
}

#details {
  display: flex;
  flex-direction: column;
  /* flex: .97; */
  width: 85%;
  gap: 1px;
  padding: 10px;
}

#desc-add {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  padding: 10px;
  width: 50%;
  align-items: center;
}

.inp {
  padding: 10px;
  border-radius: 5px;
  width: 700px;
  height: 250px;
  resize: none;
  overflow: hidden; /* Show scrollbars when content overflows */
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 10px;
  font-size: 17px;
  line-height: 1.5;
  background-color: rgb(240, 238, 238);
}

.inp::placeholder {
  opacity: 1;
}

#desc:focus {
  overflow: auto;
}

.submit-button {
  border-radius: 5%;
  margin-top: 70px;
  border: 1px transparent;
  width: 20%;
  padding: 10px;
  align-self: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  font-size: large;
}

.time-input {
  width: 25%;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.accept {
  border-color: #00e676;
}

.reject {
  border-color: #ff1744;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 15px;
  margin: 0px;
  background-color: #0000009e;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  font-size: 13px;
  color: white;
  /* make the text centerd and a perfect circle  */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  
}

.remove-button:hover {
  color: red;
  transition: 0.15s;
}



.dropdown ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 5px 30px 30px rgba(0, 0, 0, 0.1);
}

.dropdown ul li {
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 5px;
  color: rgb(83,83,83);
  background-color: rgb(241, 241, 241);
}

.dropdown ul li:hover {
  background-color: #29f392;
}

#dropdown-select {
  cursor: pointer;
  user-select: none;
  padding: 10px 10px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  /* background-color: rgb(241, 241, 241); */
  transition: .25s;
  width: 150px;
  text-align: center;
}

#dropdown-select:hover {
  background-color: #29f392;
}
