

#image {
  flex: 1;
  border-radius: 1%;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 45%;
}


.submit-button {
  border-radius: 5%;
  width: fit-content;
  border: 1px transparent;
  width: 20%;
  padding: 10px;
  align-self: center;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  font-size: large;
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.accept {
  border-color: #00e676;
}

.reject {
  border-color: #ff1744;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 15px;
  margin: 0px;
  background-color: #0000009e;
  border: none;
  border-radius: 50%;

  cursor: pointer;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  
}

.remove-button:hover {
  color: red;
  transition: 0.15s;
}




.selected {
  background-color: #aaeecd;
  transition: background-color 0.3s ease;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: #aaeecd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #aaeecd;
  outline: 0 none;
}

