#image {
  flex: 1;
  border-radius: 1%;
  box-shadow: 3px 3px 6px var(--secondary-light-opacity);
  width: 60%;
  height: 45%;
}
#main{
  color: var(--secondary-light);
}


.submit-button {
  border-radius: 5%;
  width: fit-content;
  border: 1px solid var(--secondary-light);
  width: 20%;
  padding: 10px;
  align-self: center;
  font-size: large;
}

.submit-button:hover{
  box-shadow: 0 4px 16px var(--secondary-light);
}

.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.accept {
  border-color: #00e676;
}

.reject {
  border-color: #ff1744;
}

.image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
}

.image-container {
    position: relative;
    display: inline-block;
}
.image-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.remove-button {
  position: absolute;
  top: 5px;
  right: 15px;
  margin: 0px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 50%;

  cursor: pointer;
  font-size: 13px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  
}

.remove-button:hover {
  color: red;
  transition: 0.15s;
}

.guide{
  color: var(--secondary-light-opacity);
}

/* .rdrCalendarWrapper {
  background-color: var(--primary-light) !important;  
  border: 1px solid var(--secondary-light);
} 
.rdrDateDisplayWrapper{
  background-color: rgb(33, 33, 33) !important;  
}
.rdrDateInput {
  background-color: var(--primary-light) !important;  
  border: 1px solid var(--secondary-light);  
}
.rdrDateRangeWrapper{
  background-color: var(--primary-light) !important;  
} */

.selected {
  background-color: var(--secondary-light);
  color: var(--primary-light);
  transition: background-color 0.3s ease;
}
.categories{
  border: 1px solid var(--secondary-light);
}
#desc-add{
  color: var(--secondary-light);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: var(--secondary-light);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px #aaeecd;
  outline: 0 none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

