/* import file global.css */

.terms {
  font-size: 12px;
  text-decoration: none;
  color: #039be5;
}

.information {
  background-image: linear-gradient(
    to right,
    var(--tertiary-light),
    var(--secondary-light)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

#main-container {
  background-image: url("/src/assets/images/wavy bg.png");
  background-size: 150%;
  background-color: black;
  height: 100vh;
}

#logo-container {
  display: block;
}

#seperator {
  width: 2px;
  border-radius: 30px;
  /*height: 200px;
  */
  margin: 0px 20px;
  background-color: gray;
}

/* hide the logo for phones */
@media (max-width: 992px) {
  #logo-container {
    display: none;
  }
  #seperator {
    display: none;
  }
}
