/* import file global.css */
#logo {
  font-family: "pacifico";
  font-size: 3rem;
}
.terms {
  font-size: 12px;
  color: #039be5;
}

.information {
  background-image: linear-gradient(to left, var(--primary-green),  var(--primary-black));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* color: var(--primary-black); */
}

#main-container {
  background-image: url("/src/assets/images/wavy bg.png");
  background-size: 150%;
  background-color: black;
  height: 100vh;
}

#logo-container {
  display: block;
  cursor: pointer;
}

#seperator {
  width: 2px;
  border-radius: 30px;
  /*height: 200px;
  */
  background-color: gray;
}

/* hide the logo for phones */
@media (max-width: 1020px) {
  #form-container {
    width: 90% !important;
    margin: 0 !important;
  }
}

@media (max-width: 780px) {
  #logo-container {
    display: none;
  }
  #seperator {
    margin: 0 !important;
    display: none;
  }
}
