.item-card {
  width: 20rem;
  max-width: 20rem;
  border: 1px solid rgba(0, 0, 0, 0.12);
  transition: 0.25s;
  /* height: 100%; */
}

.item-card:hover {
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.image {
  border-radius: 2%;
  width: 18.5rem;
  margin: 10px;
  object-fit: cover;
  height: 15rem;
  cursor: pointer;
}

.card-text {
  opacity: 80%;
  text-align: left;
}

.card-title {
  cursor: pointer;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  font-size: 13px;
  opacity: 80%;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  border-radius: 100px;
  background-color: white;
}

.category {
  opacity: 80%;
  font-weight: bold;
  border: 1px solid var(--primary-green);
}

.description {
  cursor: pointer;
}

.interest {
  cursor: pointer;
}

#price-label {
  width: 50px; /* Set the width and height equal for a quarter-circle */
  height: 50px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--primary-green);
  border-radius: 0 0 0 25px; /* This creates a quarter-circle shape */
  transform: rotate(-45deg); /* Rotate the label to form a quarter-circle */
  overflow: hidden; /* Hide overflow content */
}

#price-label-text {
  font-size: 16px; /* Adjust font size as needed */
  font-weight: bold;
  color: white;
  text-align: center;
  line-height: 50px; /* Vertically center the text within the quarter-circle */
}

.liked {
  animation: pulse 0.5s linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (max-width: 1357px) {
  .item-card {
    width: 50%;
    max-width: 45%;
  }
  .image {
    max-width: 94%;
    width: 94%;
    height: 15rem;
  }
}

@media only screen and (max-width: 880px) {
  .item-card {
    width: 100%;
    max-width: none;
  }
  .image {
    /* width: 94%; */
    height: 15rem;
  }
}

@media only screen and (max-width: 722px) {
  .item-card {
    width: 50%;
    max-width: 45%;
  }
  .image {
    max-width: 94%;
    width: 94%;
    height: 15rem;
  }
}

@media only screen and (max-width: 580px) {
  .item-card {
    width: 100%;
    max-width: none;
  }
  .image {
    /* width: 94%; */
    height: 15rem;
  }
}
