.card {
    width: 25rem;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    border: 1px solid rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: .25s;
}

.item-card:hover {
    /* background-color: #e4c9af; */
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.image {
    display: block;
    margin: 10px;
    /* box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.4); */
    border-radius: 2%;
    max-height: 15rem;
    object-fit: cover;
}

.card-body { 
    padding: 10px;
    margin-bottom: 8px;
}

.card-text {
    opacity: 80%;
    text-align: left;
    margin-bottom: 10px;
}

.card-title {
    margin-top: 4px;
}

.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 18px;
}

.tag {
    font-size: 13px;
    opacity: 80%;
    border: 1px rgba(0, 0, 0, 0.2) solid;
    border-radius: 100px;
    padding: 1px 10px;
    margin: 3px 3px;
    margin-left: 1px;
    background-color: white;
}

.category {
    opacity: 80%;
    font-weight: bold;
    border: 1px solid var(--secondary-light);
}

@media only screen and (max-width: 600px) {
    .card {
        width: 100%; /* Adjust the width for smaller screens */
        box-shadow: none; /* Remove box-shadow for smaller screens if needed */
    }

    .card:hover {
        width: 100%;
    }
}