@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-black: #110f0f;
  --secondary-black: #1a1a1a;
  --primary-green: #00e175;
  --secondary-green: #00c667;
  --primary-white: #f3f4f6;
  --muted-light: #d3d2dd;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: var(--primary-white);
}

.link {
  text-decoration: none;
  transition: color 0.3s;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--secondary-green);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-black);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-black);
}

/* mobile */
/* @media (max-width: 720px) {
  #mobile-navbar {
    display: flex;
  }
  #desktopNavbar {
    display: none;
  }
  
}

@media (min-width: 721px) {
  #mobile-navbar {
    display: none;
  }
  #desktopNavbar {
    display: flex;
  }
} */
