@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --primary-black: #110F0F;
  --secondary-black: #1a1a1a;
  --primary-green: #00e175;
  --secondary-green: #00c667;
  --primary-white: #f7f7f7;
  --muted-light: #d3d2dd;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-white);
}

.link {
  text-decoration: none;
  transition: color 0.3s;
}

/* mobile */
@media (max-width: 720px) {
  #mobile-navbar {
    display: flex;
  }
  #desktopNavbar {
    display: none;
  }
  
}

@media (min-width: 721px) {
  #mobile-navbar {
    display: none;
  }
  #desktopNavbar {
    display: flex;
  }
}
