@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --primary-light: #110f0f;
  --secondary-light: #00e175;
  --tertiary-light: #826f66;
  --muted-light: #d7d4d4;

  --primary-dark: #1e1e2e;
  --secondary-dark: #f7ccac;
  --tertiary-dark: #ffe2cc;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #efefef;
}

.link {
  text-decoration: none;
  transition: color 0.3s;
}

/* mobile */
@media (max-width: 720px) {
  #mobile-navbar {
    display: flex;
  }
  #desktopNavbar {
    display: none;
  }
  
}

@media (min-width: 721px) {
  #mobile-navbar {
    display: none;
  }
  #desktopNavbar {
    display: flex;
  }
}
