/* imageSlider.css */
.image-slider-container {
  position: relative;
  width: fit-content;
}

.main-image {
  width: 100%;
}

.img-slider-img {
  display: block;
  /* margin: 7px; */
  border-radius: 4px;
  max-height: 23rem;
  min-height: 15rem;
  min-width: 10rem;
  object-fit: cover;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
  /* width: 100%; */
}

.img-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  height: 100%;
  width: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .25s;
}

.img-slider-btn:hover {
  background-color: rgba(0, 0, 0, 0.3); /* RGBA values for white */
}

.img-slider-btn.left {
  left: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.img-slider-btn.right {
  right: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
