  .landing-page {
    width: 100%;
    height: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.28), rgba(0, 0, 0, 0.28) ), url('../images/amman-bg.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .slider-overlay {
    margin-top: 17%;
    margin-bottom: 7%;
    padding-left: 4%;
    text-align: left;
    color: white;
  }

  .slider-overlay h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-family: "pacifico";
  }

  .slider-overlay p {
    font-size: 1.3rem;
  }


  .nav {
    display: flex;
    justify-content: flex-end;
    gap: 6%;
    padding-top: 2%;
    padding-right: 4%;
  }

  .home-lgn-nav {
    color: white;
    font-weight: 300;
    cursor: pointer;
    transition: .55s;
    text-decoration: transparent;
  }

  .home-lgn-nav:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-color: var(--primary-green);
  }


  .about {
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    color:white;
    font-weight: 200;
    padding: 3%;
    padding-bottom: 5%;
    padding-top: 4%;
  }

  .about h3 {
    /* color: var(--secondary-light);*/
    font-weight: 300;
    text-decoration: underline;
    text-decoration-color: var(--primary-green);
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
  }

  .about p {
    font-weight: 200;
  }