@media (max-width: 903px) {
  #logo {
    font-size: 1rem;
  }
}

.nav-item {
  display: inline-block;
  width: 10rem;
  box-sizing: border-box;
  border-bottom: 4px solid transparent;
}

.nav-item.active {
  border-bottom: 4px solid var(--primary-green);
}

.active-nav-link {
  color: var(--primary-green) !important;
}
.active-nav-link > a {
  color: var(--primary-green) !important;
}

.nav-item span,
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item:hover {
  & span {
    color: var(--primary-green);
  }
  cursor: pointer;
}
.nav-item a:hover {
  color: var(--primary-green);
}
::placeholder {
  color: var(--muted-light) !important;
}
#navdropdown:link {
  color: white;
}
#navdropdown:active {
  color: white;
}
#navdropdown:visited {
  color: white;
}
#navdropdown:hover {
  color: var(--primary-green);
}

.dropdown-menu {
  background-color: var(--primary-black) !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}
.dropdown-menu > a:hover {
  background-color: var(--primary-black);
}
.dropdown-menu:hover {
  display: block;
}

.input-container {
  width: 45%;
  padding: 1px 10px;
  align-items: center;
  display: flex;
  justify-content: center; /* Center horizontally */
  margin: 0 auto; /* Horizontally center the input container */
}

.input-container input:focus {
  box-shadow: none;
}

.create-item-pfp {
  display: flex;
  gap: 30px;
  justify-content: flex-end; /* Align items to the end of the container */
  margin-right: 1%;
}

.add-item {
  background-color: transparent;
  border: none;
  color: var(--primary-green);
}

.add-item:hover {
  background-color: var(--primary-green);
}

.profile-redirect {
  background-color: transparent;
  border: none;
  color: var(--secondary-green);
  padding: 5px 5px;
  border-radius: 6px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 25px;
}

.profile-redirect:hover {
  color: var(--primary-black);
  background-color: var(--primary-green);
}

.lgn-sign-up {
  color: var(--primary-green);
  background-color: transparent;
  border: none;
}

.lgn-sign-up:hover {
  background-color: var(--primary-green);
}
