#navbarlogo {
  font-size: 2rem;
  font-family: "pacifico";
}

@media (max-width: 903px) {
  #logo {
    font-size: 1rem;
  }
}

.nav-item {
  display: inline-block;
  width: 10rem;
  box-sizing: border-box;
}

.nav-item.active {
  border-bottom: 4px solid var(--secondary-light);
}

.nav-item {
  border-bottom: 4px solid transparent;
}

.nav-item span,
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item:hover {
  & span {
    color: var(--secondary-light);
  }
  cursor: pointer;
}
.nav-item a:hover {
  color: var(--secondary-light);
}
::placeholder {
  color: var(--secondary-light-opacity) !important;
}
#navdropdown:link {
  color: white;
}
#navdropdown:active {
  color: white;
}
#navdropdown:visited {
  color: white;
}
#navdropdown:hover {
  color: var(--secondary-light);
}

.dropdown-menu {
  background-color: var(--primary-light);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
.dropdown-menu > a:hover {
  background-color: var(--primary-light);
}
.dropdown-menu:hover {
  display: block;
}

.input-container {
  width: 45%;
  padding: 1px 10px;
  align-items: center;
  display: flex;
  justify-content: center; /* Center horizontally */
  margin: 0 auto; /* Horizontally center the input container */
  color: var(--secondary-light-opacity);
}

.input-container input:focus {
  box-shadow: none;
}

.create-item-pfp {
  display: flex;
  gap: 30px;
  justify-content: flex-end; /* Align items to the end of the container */
  margin-right: 1%;
}

.add-item {
  background-color: transparent;
  border: none;
  color: var(--secondary-light);
}

.add-item:hover {
  background-color: var(--secondary-light);
}

.profile-redirect {
  background-color: transparent;
  border: none;
  color: var(--secondary-light);
  padding: 5px 5px;
  border-radius: 6px;
  transition: 0.25s;
  cursor: pointer;
  font-size: 25px;
}

.profile-redirect:hover {
  color: var(--primary-light);
  background-color: var(--secondary-light);
}

.lgn-sign-up-container {
  display: flex;
  gap: 30px;
  justify-content: flex-end; /* Align items to the end of the container */
  margin-right: 1%;
}

.lgn-sign-up {
  color: var(--secondary-light);
  background-color: transparent;
  border: none;
}

.lgn-sign-up:hover {
  background-color: var(--secondary-light);
}

#desktopNavbar {
  box-shadow: 
  var(--primary-light) 0px 50px 100px -20px, 
  var(--secondary-light) 0px 30px 60px -20px;
}

/* rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
var(--secondary-light) 0px 30px 60px -30px; */
