.user-cred {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: 100vh;
  padding: 24px;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5); */
  padding-left: 40px;
  background-color: #e6e6e6;
  top: 0;
  position: sticky;
}

.profile-pic {
  /* display: block; */
  width: 100px;
  height: 100px;
  overflow: hidden; /* Ensures the image remains within the container */
  border-radius: 50%;
  object-fit: cover;
  /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); */
  align-self: center;
  transition: 0.25s;
  display: block;
  margin: 0 auto;
}
.edit-icon-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  opacity: 0.7;
}
.profile-pic-hover{
  display: contents;
}
.profile-pic-hover:hover>.profile-pic{
  cursor: pointer;
  opacity: 0.5;
}
.profile-pic-hover:hover>.edit-icon-overlay {
  cursor: pointer;
  opacity: 0.5;
}

.admin-tag {
  color: var(--secondary-light);
  border-radius: 50px;
  padding: 2px 8px;
  margin-bottom: 30px;
  width: fit-content;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 0.6);
  align-self: center;
}

.profile-info {
  font-weight: 500;
  letter-spacing: 0.6px;
  /* text-decoration: underline; */
  /* text-decoration-color: var(--secondary-light); */
  /* text-underline-offset: 0.2em; */
  margin: 10px 0;
  align-self: center;
}

.profile-username {
  align-self: center;
  margin-top: 45px;
}

.edit-profile {
  margin-top: 64px;
}

.user-history-container {
  display: flex;
  flex-direction: column;
  margin: 30px;
  padding: 40px;
  flex: 1;
}

.user-history {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 80px;
  margin-top: 30px;
}

.item-container {
  border: 1px solid #ccc; /* Border for the container */
  border-radius: 5px; /* Rounded corners for the container */
  padding: 10px; /* Padding inside the container */
  margin-bottom: 20px; /* Margin to separate containers */
  background-color: #e6e6e6;
  transition: 0.25s;
  cursor: pointer;
}

.item-container:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}

.item-name {
  font-size: 18px; /* Font size for the item name */
  font-weight: bold; /* Bold font weight for emphasis */
  margin-bottom: 5px; /* Margin to separate item name from other elements */
  text-decoration: underline;
  text-decoration-color: var(--secondary-light);
  text-underline-offset: 0.2em;
}

.bid-info {
  font-size: 14px; /* Font size for bid information */
}

.duration {
  font-style: italic; /* Italic font style for duration */
}
