.tag {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  padding: 7px;
  width: fit-content;
}

#main-container {
  color: #484848;
}

#auctioneer-name {
  font-weight: bold;
  color: #7a7a7a;
}

#view-item-container {
  padding: 1rem;
  border-radius: 10px;
}

@media (max-width: 720px) {
  #view-item-container {
    padding: 0.5rem;
  }
}
/* #desc {
  color: #7a7a7a;
} */
